@font-face {
	font-family: nunito;
	src: url(/fonts/Nunito-Regular.ttf);
	font-weight: normal;
}

body {
	font-family: nunito;
	font-size: 16px;
	color: #223254;
	background: #F6F1D1;
	/* width: 1920px; */
	margin: auto;
	overflow: hidden;
}

/* The container */

.keyboard-shortcut {
	width: 33%;
	padding: 25px;
	margin: 10px;
	padding-top: 0px;
	/* display: inline-block; */
	/* float: left; */
	position: absolute;
	left: 0;
}

.define-messages {
	/* max-width: 66%; */
	width: 325px;
	padding: 25px;
	margin: 10px;
	display: inline-block;
	position: absolute;
	right: 0;
	overflow: auto;
	max-height: 88%;
}

#letter {
	/* background: rgb(205, 255, 232); */
	background: #F6F3E1;
}

.definition {
	background: #F6F3E1;
	padding: 10px;
	padding-right: 20px;
	margin: 5px;

	border: 1px solid #C3BFA5;
	border-radius: 25px;
	/* float: right; */
}

.define-messages .commands {
	float: left;
	width: 125px;
	margin-bottom: 25px;
	margin-right: 15px;
}

.commands {
	margin: 25px;
}

.define-messages.message {
	float: right;
	/* opacity: 0; */
}

.horizontal {
	max-width: fit-content;
	word-wrap: break-word;
}

.sendables {
	float: right;
	/* width: 33%; */
	width: 500px;
	height: fit-content;
	padding: 25px;
	display: table;
}

.define-messages {
	float: top;
	margin-top: 50px;
	padding-top: 0;
}

.title {
	width: 325px;
	padding: 25px;
	margin: 10px;
	display: inline-block;
	position: absolute;
	right: 0;
	overflow: auto;
	max-height: 90%;
	margin-top: 0;
	padding-top: 0;

}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

label.message-input {
    margin: inherit;
}

h2.title {
	margin-right: 0;
	float: right;
	align-items: right;
}

div#definitions {
    margin-right: 16.5px;
}
